body {
    margin: 0;
    padding: 0;
    font-family: 'lucida grande', helvetica, arial, sans-serif;
}

header {
    display: block;
    background-color: #143352;
    color: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid rgba(15, 38, 61, 0.5);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    z-index: 10;
    opacity: .8;

    > div {
        width: 750px;
        margin: auto;
    }

    h1 {
        font: 3em/50px "Special Elite";
        margin: 10px 0 0 0;
        float: left;
    }

    .picture {
        float: right;
        margin: 10px;
    }
    .login {
        float: right;
        margin-top: 10px;
        img {
            margin-top: 3px;
        }
        .username {
            font-weight: bold;
            margin-top: 20px;
        }

        div a {
            font-size: .7em;
            color: #ccc;
        }
        text-align: center;
    }
    .clickable:hover {
        opacity: .5;
        cursor: pointer;
    }
}

#content {
    position: fixed;
    color: #fff;
    padding-top: 50px;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: rgb(220, 217, 202);
    background-image:url('i/236037776_f8b7e0564d_o.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;

    .intro, .business {
        width: 600px;
        margin: auto;
        color: #333;
        font-size: 2em;
        font-family: "Shadows Into Light";
        text-align: center;
    }

    em {
        font-size: 1.4em;
    }

    .business input {
        background-color: transparent;
        border: 1px solid #999;
        font: 3em "Shadows Into Light";
        padding: .4em;
        width: 500px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }
}

footer {
    display: block;
    background-color: #9d9d9d;
    color: #313131;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    opacity: .8;

    a {
        color: #000;
    }

    a:hover {
        opacity: .5;
    }

    > div {
        width: 600px;
        margin: auto;
        margin-top: 10px;
        font-size: .8em;
        text-align: center;
        img {
            margin-bottom: -.5em;
        }
        font-weight: 200;
    }

    small {
        display: block;
        font-size: .8em;
        opacity: .8;
        margin-top: 1.5em;
    }
}
